.search{

    background-color: #fff;
    border-radius: 10px;
    font-style: italic;
}

.searchIcon{
    cursor: pointer;
}

.dropDown{
    background-color: #fff;
    color: black;
    border:1px solid black;
    padding:1rem;
}

.searchContainer{
    display: inline-flex;
    flex-direction: column;
    z-index: 1000;
    min-width: 200px; 

}

.menuItem{
    padding: 10px;
    cursor: pointer;
}

.menuItem:hover{
    background-color: aliceblue;
}

.inputLabel{
    margin-bottom: 0.5rem;
    font-weight: 800;
}